SLACK_BOT_TOKEN=
SLACK_SIGNING_SECRET=
YOUR_USER_ID=
YOUR_USER_TOKEN=
MESSAGE="Welcome|||Welcome {{name}}!\n\nHow is life? ..."
MESSAGE_2="Employee|||Hey {{name}}!\n\nWelcome to the ..."
MESSAGE_3="Friend|||Hey {{name}}!\n\nHow is life? Welcome to the ..."