---
name: Syntax Validation
on: [push, workflow_dispatch]

jobs:
  syntax-check:
    name: vale
    runs-on: ubuntu-latest
    steps:

      - name: Checkout this repository
        uses: actions/checkout@v6.0.1

      - name: Download .vale.ini
        run: wget https://raw.githubusercontent.com/fharper/gh-configs/main/.vale.ini -O .vale.ini

      - name: Create the folders
        run: |
          mkdir -p styles && mkdir -p styles/Custom && mkdir -p styles/config && mkdir -p styles/config/vocabularies && mkdir -p styles/config/vocabularies/base

      - name: Download Custom Style ignore.txt
        run: wget https://raw.githubusercontent.com/fharper/gh-configs/main/styles/Custom/ignore.txt -O styles/Custom/ignore.txt

      - name: Download Custom Style spelling.yml
        run: wget https://raw.githubusercontent.com/fharper/gh-configs/main/styles/Custom/spelling.yml -O styles/Custom/spelling.yml

      - name: Download Custom Style substitutions.yml
        run: wget https://raw.githubusercontent.com/fharper/gh-configs/main/styles/Custom/substitutions.yml -O styles/Custom/substitutions.yml

      - name: Download base Vocab accept.txt
        run: wget https://raw.githubusercontent.com/fharper/gh-configs/main/styles/config/vocabularies/base/accept.txt -O styles/config/vocabularies/base/accept.txt

      # Not using errata-ai/vale-action since it's never failing on errors: https://github.com/errata-ai/vale-action/issues/103
      - name: Install Vale
        run: |
          wget https://github.com/errata-ai/vale/releases/download/v3.13.0/vale_3.13.0_Linux_64-bit.tar.gz -O vale.tar.gz
          tar -xvzf vale.tar.gz vale
          rm vale.tar.gz

      - name: Validate the syntax
        run: ./vale --config=.vale.ini --glob="**/*.md" .
